body {
	overflow:;
	background-color: #030303;
}



#text {
	display: flex;
	justify-content: center;
}


.title-text {
  color: whitesmoke;
}

.title-text span {
  display: inline-block;
  transition: transform 1s;
}

.title-text span:hover {
  transform: scale(1.1);
}

h1 {
	display: flex;
	text-align: center;
	font-family:ELEGANT TYPEWRITER , sans-serif;
	color: whitesmoke;
	font-size: 100px;
	margin: 0px;
	margin-left: 10px;

}

h1 a {
	font-size: 100px;
}

h1 a:hover {
	color: whitesmoke;
}



a {
         	color: whitesmoke;
         	font-family: ELEGANT TYPEWRITER, sans-serif;
         	font-size: 30;
         	text-decoration: none;
         }

         a:hover {
         	color: #1ab8a8;
         }



 p {
  color: whitesmoke;
    font-family: ELEGANT TYPEWRITER, sans-serif;
    font-size: 30;

}

#meni {
	margin-left: 20px;
} 

#text {
	position: ;
}


/*slider*/

::-webkit-scrollbar{
	width: 12px;

}

::-webkit-scrollbar-thumb {
	background: grey;
	border-radius: 6px;

	
}

::-webkit-scrollbar-thumb:hover {
	background: #1ab8a8;
}




/* GALERIJA */

.gallery {
  display: flex;
  padding: 2px;
  transition: 0.3s;
}
.gallery:hover .gallery__image {
  filter: grayscale(1);
}
.gallery__column {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.gallery__link {
  margin: 2px;
  overflow: hidden;
}
.gallery__link:hover .gallery__image {
  filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
  opacity: 1;
}
.gallery__thumb {
  position: relative;
}
.gallery__image {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.gallery__image:hover {
  transform: scale(1.1);
}
.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: "ELEGANT TYPEWRITER", sans-serif;
  font-size: 16px;
  color: white;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}






/*contact info*/

#info {
	text-align: center;
	margin-top:100px ;
	margin-left: 20px;
	
}

class.txt2 {
	font-size: 50px;
}




/* click "art" button */

#text3 {

	background-color: whitesmoke;
	width: 500px;
	margin-left: 700px;
	text-align: center;

}

#text3 p {
	color: #030303;
}

#text3 a {
	color:  #030303;
         	font-family: ELEGANT TYPEWRITER, sans-serif;
         	font-size: 30;
         	text-decoration: none;
}

#text3 a:hover {
	 color: #1ab8a8 ;
}